/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
┏┓
┗■ INDEX

|   01.ヘッダー

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*--------------------
    00.初期設定
--------------------*/
body{
    background: #F0F0F0;
    color:#262626;
}

/*--------------------
    01.ヘッダー
--------------------*/
.navbar{
    background: #fff;
}
.navbar-brand{
    font-size: 3rem;
}
.kv{
    margin-top:-3rem;
}
.kv>img{
    width:100%;
}