/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
┏┓
┗■ INDEX

|   01.KV

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/*--------------------
        01.KV
--------------------*/
.kv{
    background: url("http://placehold.it/1920x640") no-repeat center center scroll;
    background-size: cover;
    height: 45rem;
}